{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex mt-5 justify-content-center">
<form action=""  method="POST" novalidate>{% csrf_token %}
Email: <input type="email"   name='email'>
New Password: <input type="password" name='passw'>
Confirm New Password : <input type="password" name='passw2'> 
    <input type="submit" value="Login">
</form>
</div>
<pre class="d-flex mt-2 justify-content-center"> Back to  <a href="{%url 'dashboard'%}"> Dashboard ? </a> </pre> 
{% endblock content %}